img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 50%;
}
h1{
    text-align: center;
}
a{
    text-align: left;
    font-size: large;
}
iframe
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 50%;
}